H1 { 
    color:rgb(100, 166, 81);
    margin:0px 0px 2px 0px;
    font-size:36px;
    padding:15px 5px 5px 5px;
    text-align:center;
    font-weight: bold;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudoku-container {
    display: flex;
    flex-direction: column;
}

.sudoku-status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sudoku-grid {
    border-collapse: collapse;
    margin: 20px auto;
}

.sudoku-cell{
    border: 3px solid #333;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    caret-color: transparent;
}

.sudoku-cell:not(.primary-cell):hover {
    background-color: #4e4d4d;
    cursor: pointer;
}

.initial{
    color: rgb(100, 166, 81);
    user-select: none;
    pointer-events: none;
}

.sudoku-grid tr:nth-child(3n) {
    border-bottom: 4px solid black;
}

.sudoku-grid tr td:nth-child(3n) {
    border-right: 4px solid black;
}

.sudoku-grid tr:first-child {
    border-top: 4px solid black;
}

.sudoku-grid td:first-child {
    border-left: 4px solid black;
}

.red-number {
    color: red;
}

.primary-cell{
    background-color: rgb(100, 166, 81);
}

.selected-cell {
    background-color: #4e4d4d;
    cursor: pointer;
}

.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-container form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-select{
    outline: none;
    font-size: 16px; 
    color: #ffffff; 
    background-color: #333333; 
    border: none;
    margin: 0px 10px 0px 5px;
}

.btn{
    font-size: 16px;  
    color:rgb(100, 166, 81);
    background-color: #333333; 
    font-weight: var(--btn-font-weight, bold);
}
.btn:hover {
    color: rgb(100, 166, 81) !important;
    border-color: rgb(100, 166, 81) !important;
  }
  
.btn-utilitary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.btn-numbers-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.notes-grid{
    border: none !important
}

.inner-cell{
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 8px;
    caret-color: transparent;
    color: transparent;
}