<!DOCTYPE html>
<html>

<head>
    <title>Meu Sudoku </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="static/scripts/script.js" var fullGridData = {{ full_grid | tojson | safe }};></script>
</head>

<body class="bg-dark text-white" data-full-grid="{{ full_grid | tojson | safe }}">
    <div class="container">
        <div>
            <h1>MeuSudoku</h1>
        </div>
        <div class="form-container">
            <label for="difficulty">Dificuldade:</label>
            <form method="post" action="/processar">
                <select class="form-select" name="difficulty" id="difficulty">
                    <option value="1">Fácil</option>
                    <option value="2">Médio</option>
                    <option value="3">Difícil</option>
                </select>
                <input class="btn" type="submit" value="Iniciar Jogo">
            </form>
        </div>
        <div class="sudoku-container">
            <table id="sudoku-table" class="sudoku-grid">
                {%if grid_data == None %}
                    {%for y in range(9) %}
                    <tr>
                        {%for x in range(9) %}
                            {%if x == 3 and y == 4 %}
                                <td class="sudoku-cell initial">S</td>
                            {% elif x == 4 and y == 4 %}
                                <td class="sudoku-cell initial">U</td>
                            {% elif x == 5 and y == 4 %}
                                <td class="sudoku-cell initial">D</td>
                            {% elif x == 4 and y == 5 %}
                                <td class="sudoku-cell initial">O</td>
                            {% elif x == 4 and y == 3%}
                                <td class="sudoku-cell initial">K</td>
                            {% else %}
                                <td class="sudoku-cell initial"> </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for row in grid_with_hidden_numbers%}
                    <tr>
                        {% for cell in row %}
                            {%if cell == " " %}
                                <td class="sudoku-cell" contenteditable="true">{{ cell }}</td>
                            {% else %}
                                <td class="sudoku-cell default-cell">{{ cell }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
            <div class="btn-utilitary">
                <button class="btn btn-lg btn-remove" onclick="removeNumberFromCell()">Apagar</button>
                <button class="btn btn-lg btn-hint" onclick="hint()">Dica</button>
                <button class="btn btn-lg" onclick="c()">Anotar</button>
            </div>
            <div class="btn-numbers-container">
                {% for i in range(1, 10) %}
                    <button class="btn btn-lg btn-number " onclick="addNumberToCell(i)">{{ i }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>

</html>